<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index1.css">
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<title>E-chat下载</title>
</head>
<body>

	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"><img src="images/logo1.jpg" alt=""></a>
	 		</div>
			<div class="collapse navbar-collapse" id="mymenu">
				<ul class="nav navbar-nav">
					<li ><a href="inindex.html">首页</a></li>
					<li><a href="inproject.html">项目</a></li>
					<li><a href="inblog.html">博客</a></li>
					<li class="active"><a href="#">下载</a></li>				
					<li><a href="#">微说</a></li>
					<li><a href="#">所有人</a></li>				
					<li><a href="#">好友圈</a></li>
					<li><a href="#">设置</a></li>				
					<li><a href="index.html">退出</a></li>								          
				</ul>

			</div>
		</div>
	</div>


	<div class="jumbotron">
	  <div class="container">
	    <div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
				<!-- <img src="images/banner_title.png" alt="banner标题" class="banner_pic_title img-responsive"> -->
				<h2 class="banner_title">介绍</h2>
				<p class="banner_detail">天天生鲜将在北京、天津、上海、南京、苏州、杭州、成都、武汉8座核心城市同期推出北京水果专场，借助天天生鲜产地端到用户端的渠道，果品流转效率得以大大提高。依托天天生鲜的渠道优势，首届果节做到了高质低价。</p>
			</div>

			<div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 hidden-sm hidden-xs">
				<img src="images/basket.jpg" alt="水果篮" class="img-responsive">
			</div>
	    </div>
	  </div>
	</div>


	<div class="container">
		<h3 class="active_title text-center">相关论文</h3>
		<p class="active_detail text-center">天天生鲜产地直采的果品甚至可以追溯到种植者和生产的地块儿。确定具体采摘地块儿后，在适合的时间将水果采摘下来后，直接在地头包装成箱，根据订单分装运到各个分仓，然后由配送员送到用户手中。以下是本次活动相关的图片</p>
	</div>
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/l1.jpg" alt="活动图片" class="img-responsive">
				<a href="https://arxiv.org/pdf/1801.08792.pdf"><h5 style='text-align: center;'>原文下载</h5></a>
				<h4>类别：图像清晰化</h4>

				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/l2.jpg" alt="活动图片" class="img-responsive">
				<a href="https://arxiv.org/pdf/1804.07723.pdf"><h5 style='text-align: center;'>原文下载</h5></a>
				<h4>类别：图像清晰化</h4>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/l3.jpg" alt="活动图片" class="img-responsive">
				<a href="https://arxiv.org/pdf/1711.07064.pdf"><h5 style='text-align: center;'>原文下载</h5></a>
				<h4>类别：图像清晰化</h4>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/l4.jpg" alt="活动图片" class="img-responsive">
				<a href="https://arxiv.org/pdf/1704.04086.pdf"><h5 style='text-align: center;'>原文下载</h5></a>
				<h4>类别：图像清晰化</h4>
				</div>
			</div>

		</div>
	</div>
	
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active01.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>语义分割</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active02.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>图像清晰化</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active03.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>Python</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active04.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>C++</h4></a>
				</div>
			</div>

		</div>
	</div>

	<div class="container">
		<h3 class="active_title text-center">数据集</h3>
		<p class="active_detail text-center">我们都知道数据集对于神经网络模型来说是非常重要的东西，在这儿分享的主要是关于图像方面的数据集，另外还有文本方面的少量数据集，以及我自己爬的一些数据。</p>
	</div>
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j1.png" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>CelebA（21.68GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
									
						<p>内容：人脸图像数据集</p><p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：128*128</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：202599</p>
						<p><a href="https://pan.baidu.com/s/1pcTAsylEtruvHtjPpT5FwQ" target="_blank">点此下载</a> 提取码：lhc9</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j2.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>CelebA_HD（29.62GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：高清人脸图像数据集</p>
						<p style="color: gray;">有无标签：无</p>
						<p style="color: gray;">图片大小：1024*1024</p>
						<p style="color: gray;">图片格式：png</p>
						<p style="color: gray;">图片数量：30000</p>
						<p><a href="https://pan.baidu.com/s/1uAEtE8Ado6v2tP6SjXjqAg" target="_blank">点此下载</a> 提取码：crao</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j3.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>CelebA_Cropped（706MB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：对齐的人脸图像数据集</p>
						<p style="color: gray;">有无标签：无</p>
						<p style="color: gray;">图片大小：128*128</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：202599</p>
						<p><a href="https://pan.baidu.com/s/1ImOlsBIzBXTR-qqEowvnKA" target="_blank">点此下载</a> 提取码：ixo9</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j4.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>CASIA-FaceV5（162MB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：中国人人脸图像数据集</p>
						<p style="color: gray;">有无标签：无</p>
						<p style="color: gray;">图片大小：不定，约130*160</p>
						<p style="color: gray;">图片格式：bmp</p>
						<p style="color: gray;">图片数量：2500</p>
						<p><a href="https://pan.baidu.com/s/1mCCkzGKex938hhC78fly3Q" target="_blank">点此下载</a> 提取码：3wwl</p>
					</div>				
				</div>
			</div>

		</div>
	</div>
	
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j5.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>CASIA-WebFace（4.1GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：网络采集人脸图像数据集</p>
						<p style="color: gray;">有无标签：仅按人分类</p>
						<p style="color: gray;">图片大小：250*250</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：1万人，494414张照片</p>
						<p><a href="https://pan.baidu.com/s/1Fosor6NB4uqRhfvuOH48HA" target="_blank">点此下载</a> 提取码：b5x6</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j6.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>VGGFace（2.01GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：人脸识别VGG网络数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：224*224</p>
						<p style="color: gray;">图片格式：mat</p>
						<p style="color: gray;">图片数量：2600人，260万张照片</p>
						<p><a href="https://pan.baidu.com/s/1fqfDVRVRJ7KTMFNVoZZfAg" target="_blank">点此下载</a> 提取码：48ze</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j7.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>VGGFace2（36.99GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：人脸识别VGG网络数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：不定，约250*250</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：9000人，330万张照片</p>
						<p><a href="https://pan.baidu.com/s/13qJoV1aQvyYy3ZGQ5EciFw" target="_blank">点此下载</a> 提取码：e287</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j17.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>GOPRO（8.89GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：运动模糊-清晰图像数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：1280×720</p>
						<p style="color: gray;">图片格式：png</p>
						<p style="color: gray;">图片数量：9665 </p>
						<p><a href="https://pan.baidu.com/s/1T-6FfQSsgYr9yzw2N9raBw" target="_blank">点此下载</a> 提取码：kved</p>
					</div>				
				</div>
			</div>

		</div>
	</div>
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j9.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>ImageNet2012（154.79GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：自然图像数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：不定</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：1000种类，1400万照片</p>
						<p><a href="https://pan.baidu.com/s/1X2AxEcm5MEvZ3WnDANMq8g" target="_blank">点此下载</a> 提取码：gb50</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j10.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>COCO2014（37.57GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：视觉任务图像数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：不定</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：20万张(含15年测试集)</p>
						<p><a href="https://pan.baidu.com/s/1IwWKNH7SgIgCRF-bQqMfdA" target="_blank">点此下载</a> 提取码：bldb</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j11.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>COCO2017(45.01GB)</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：视觉任务图像数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：不定</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：29万张(含12万无标签)</p>
						<p><a href="https://pan.baidu.com/s/1JTt2b-6F_EAF3HPCLNrG2Q" target="_blank">点此下载</a> 提取码：d6m0</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j18.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>Pascal VOC2007（869MB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：分类任务图像数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：不定</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：20种类，共9963张图</p>
						<p><a href="https://pan.baidu.com/s/1ylYG_u7ume7QdEWMynlMZw" target="_blank">点此下载</a> 提取码：n3uo</p>
					</div>				
				</div>
			</div>

		</div>
	</div>
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j13.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>Pascal VOC2012（3.59GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：视觉任务图像数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：不定</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：20种类，共11530张</p>
						<p><a href="https://pan.baidu.com/s/1q8adv8mY05bVQcarJHD31g" target="_blank">点此下载</a> 提取码：ovs7</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j19.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>FFHQ（89.4GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：高清人脸图像数据集</p>
						<p style="color: gray;">有无标签：无</p>
						<p style="color: gray;">图片大小：1024×1024</p>
						<p style="color: gray;">图片格式：png</p>
						<p style="color: gray;">图片数量：70000 </p>
						<p><a href="https://pan.baidu.com/s/1WLJgZ1C_3TVAyBeHYQX9OA" target="_blank">点此下载</a> 提取码：qmg2</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j15.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>SUN397（36.40GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：场景识别任务图像数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：不定</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：397场景，108756张</p>
						<p><a href="https://pan.baidu.com/s/1Lus8O4R5RlPIc87WdlvFig" target="_blank">点此下载</a> 提取码：2634</p>
					</div>				
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/j16.jpg" alt="活动图片" class="img-responsive">
				<h4 style='font-weight: bold;'>SUN2012（7.23GB）</h4>
					<div style="width: 90%;padding-left:10%;font-family: '宋体';">
						<p>内容：场景视觉任务图像数据集</p>
						<p style="color: gray;">有无标签：有</p>
						<p style="color: gray;">图片大小：不定</p>
						<p style="color: gray;">图片格式：jpg</p>
						<p style="color: gray;">图片数量：16873 </p>
						<p><a href="https://pan.baidu.com/s/1rwYEXCatRyLkwesrAFraZg" target="_blank">点此下载</a> 提取码：ve7v</p>
					</div>				
				</div>
			</div>

		</div>
	</div>
	
	<div class="container">
		<h3 class="active_title text-center">学习笔记&书籍</h3>
		<p class="active_detail text-center">我平时比较喜欢写学习笔记，然后也有整理一些我觉得比较好的教材OR文章，就都放在这一章分享吧。</p>
	</div>
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active01.jpg" alt="活动图片" class="img-responsive">
				<h4>CelebA（21.68GB）</h4>

				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active02.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>图像清晰化</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active03.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>Python</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active04.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>C++</h4></a>
				</div>
			</div>

		</div>
	</div>
	
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active01.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>语义分割</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active02.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>图像清晰化</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active03.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>Python</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active04.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>C++</h4></a>
				</div>
			</div>

		</div>
	</div>
	<div class="container">
		<h3 class="active_title text-center">其他资源</h3>
		<p class="active_detail text-center">天天生鲜产地直采的果品甚至可以追溯到种植者和生产的地块儿。确定具体采摘地块儿后，在适合的时间将水果采摘下来后，直接在地头包装成箱，根据订单分装运到各个分仓，然后由配送员送到用户手中。以下是本次活动相关的图片</p>
	</div>
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active01.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>语义分割</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active02.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>图像清晰化</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active03.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>Python</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active04.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>C++</h4></a>
				</div>
			</div>

		</div>
	</div>
	
	<div class="container pic_list">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active01.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>语义分割</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active02.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>图像清晰化</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active03.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>Python</h4></a>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6">
				<div class="thumbnail">
				<img src="images/active04.jpg" alt="活动图片" class="img-responsive">
				<a href="#"><h4>C++</h4></a>
				</div>
			</div>

		</div>
	</div>
	
	<div class="container-fluid footer">
		<div class="links">
		<a href="#">关于我们</a>
		<span>|</span>  
		<a href="#">联系我们</a> 
		<span>|</span> 
		<a href="#">招聘人才</a>  
		<span>|</span> 
		<a href="#">友情链接</a></div>
<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
<p>电话：010-****888    京ICP备*******8号</p>
</div>

	

	
</body>
</html>